*{
    margin: auto;
    padding: auto;
    box-shadow: none;
}

.menu-title{
    background-color: #68D69D;
}
.nav{
    display: inline-block;
}
.nav{
    list-style-type: none;
}
.nav > li {
    display: inline-block;
}
.nav li{
    position: relative;
}
.nav li a {
    font-weight: 700;
    color: #401D83;
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
    display: block;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    transition: background-color 0.3s ease, color 0.3s ease;
}
.nav > li:hover > a{
    background-color: #CCF381;
}
.nav > li:hover a{
    color: #4831D4;
}
